<h3>Template Driven Form</h3>
<div class="main-container">
  <form novalidate #form="ngForm">
    <div class="row">
      <div class="col-md-4 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="userObj.firstName"
            name="firstName"
            required
            #fName="ngModel"
            autocomplete="off"
          />
          @if (fName.errors?.['required'] && fName.touched) {
          <mat-error>First Name is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-4 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>last name</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="userObj.lastName"
            name="lastName"
            required
            #lName="ngModel"
            minlength="4"
            autocomplete="new-password"
          />
          @if (lName.errors?.['required'] && lName.touched) {
          <mat-error>Last Name is required</mat-error>
          } @else if (lName.errors?.['minlength'] && lName.touched) {
          <mat-error>Minimum 4 characters required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-4 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <span matTextPrefix>@</span>
          <input
            type="text"
            matInput
            [(ngModel)]="userObj.userName"
            name="userName"
            required
            #uName="ngModel"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            autocomplete="off"
          />
          @if (uName.errors?.['required'] && uName.touched) {
          <mat-error>User Name is required</mat-error>
          } @else if (uName.errors?.['pattern'] && uName.touched) {
          <mat-error>Invalid user name</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input type="text" matInput [(ngModel)]="userObj.city" name="city" />
        </mat-form-field>
      </div>
      <div class="col-md-3 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select [(ngModel)]="userObj.state" name="state">
            @for (state of stateList; track state) {
            <mat-option [value]="state">{{ state }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input type="text" matInput [(ngModel)]="userObj.zipCode" name="zipCode" />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group mb-3">
      <mat-checkbox [(ngModel)]="userObj.isTermsAgree" name="isTermsAgree"
        >Agree to terms and conditions</mat-checkbox
      >
    </div>
    <button matButton="filled" type="button" (click)="onSave()" [disabled]="form.invalid">
      Submit form
    </button>
  </form>
</div>
