// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #0d6efd,
      container-text-color: #f8f9fa,
    )
  );
}

mat-form-field {
  width: 100%;
}

.menu-icons-color {
  color: #f8f9fa;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

.snackbar-success {
  background-color: #4caf50; // green
  color: white;
  font-weight: bold;
}

.snackbar-error {
  background-color: #f44336; // red
  color: white;
  font-weight: bold;
}

.snackbar-warning {
  background-color: #ff9800; // orange
  color: white;
  font-weight: bold;
}
